<h2><%= @cliente.nome %>, aqui estão seus dados: </h2>

<h4>
  
  <p>
    Código: <%= @cliente.id %>
  </p>
  
  <p> 
    email: <%= @cliente.email %>
  </p>
  
  <p>
    CPF: <%= @cliente.cpf %>
  </p>
  
  <p>
    Telefone: <%= @cliente.telefone %>
  </p>
  
  <p>
    CEP: <%= @cliente.cep %>
  </p>
  
  <p>
    Cidade: <%= @cliente.cidade %>
  </p>
  
  <p>
    UF: <%= @cliente.uf %>
  </p>
  
  <p>
    Endereço: <%=h @cliente.logradouro %>
  </p>
  
  <p>
    Complemento: <%= @cliente.complemento %> 
  </p>
  
  <p>
    Bairro: <%= @cliente.bairro %>
  </p>
  
  </h4>
  
  <p>
  
    <%= link_to 'Voltar', :controller => 'catalogo', :action => 'index' %>  
  
  </p>
