<% for produto in @produtos %>
<p>

  Encontrado em <%= produto.grupo.descricao %>

  <%= link_to ">> Mais produtos nessa categoria", 
               :controller => "catalogo",
               :action => "lista_itens_grupo",
               :grupo => produto.grupo.id %>

  <br></p>

  <table>
    <tr>
      <td>
        <%= link_to image_tag(produto.imagem.url(:thumb),
            :alt => produto.titulo,
            :title => produto.titulo,
            :border => 0),
            {:controller => "catalogo",
             :action => :detalhes,
             :id => produto} %>
      </td>
      
      <td width=73%>
        <%=h truncate(produto.descricao,
             :omission => "...",
             :length => 50) %>
      </td>

      <td>
        <%= numero_em_reais(produto.preco) %>
      </td>
      
      <td>
        <%= link_to image_tag("cart.png",
            :alt => "botão carrinho de compras",
            :title => "Coloque este produto no carrinho de compras",
            :size => "24x24",
            :border => 0),
            {:controller => :catalogo,
             :action => :adicionar_no_carrinho,
             :id => produto} %>
      </td>
    </tr>
    <tr></td></tr>
  </table>
  
</p>

<% end %>
